@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');
@import url(./components/ItemListContainer/ItemListContainer.css);
/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Cormorant Garamond', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
